@import "./animation.css";

/* Color theme */
@theme {
	--font-family-sans: "Noto Sans KR", system-ui, sans-serif;

	--color-theme: #3b82f6;
	--color-destructive: #fa6a42;

	--color-primary: #1c1c1c;
	--color-secondary: #1f1f1f;
	--color-background: #f8f8f8;
	--color-background-secondary: #f0f0f0;
}

:where(.dark, .dark *) {
	--color-primary: #f8f8f8;
	--color-secondary: #f0f0f0;
	--color-background: #353a42;
	--color-background-secondary: #505051;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Spacing theme */
@theme {
	--spacing-safe-top: env(safe-area-inset-top);
	--spacing-safe-bottom: env(safe-area-inset-bottom);
}

/* Animation theme */
@theme {
	--animate-fade-in: fadeIn;
	--animate-fade-out: fadeOut;
	--animate-glow: glow;
	--animate-bounce: bounce;
	--animate-pulse: pulse;
	--animate-shake: shake;
	--animate-scale-up: scaleUp;
	--animate-scale-down: scaleDown;
	--animate-scale-y-up: scaleYUp;
	--animate-scale-y-down: scaleYDown;
	/* slide animation */
	--animate-slide-in-left: slideInLeft;
	--animate-slide-out-left: slideOutLeft;
	--animate-slide-in-right: slideInRight;
	--animate-slide-out-right: slideOutRight;
	--animate-slide-in-down: slideInFromDown;
	--animate-slide-out-down: slideOutToDown;
	--animate-slide-in-up: slideInFromUp;
	--animate-slide-out-up: slideOutToUp;
	--animate-slide-fade-in-left: slideInLeft, fadeIn;
	--animate-slide-fade-out-left: slideOutLeft, fadeOut;
	--animate-slide-fade-in-right: slideInRight, fadeIn;
	--animate-slide-fade-out-right: slideOutRight, fadeOut;
	--animate-slide-fade-in-down: slideInFromDown, fadeIn;
	--animate-slide-fade-out-down: slideOutToDown, fadeOut;
	--animate-slide-fade-in-up: slideInFromUp, fadeIn;
	--animate-slide-fade-out-up: slideOutToUp, fadeOut;

	--anim-timing-linear: linear;
	--anim-timing-ease: ease;
	--anim-timing-ease-in: ease-in;
	--anim-timing-ease-out: ease-out;
	--anim-timing-ease-in-out: ease-in-out;

	--anim-direction-reverse: reverse;
	--anim-direction-alternate-reverse: alternate-reverse;
	--anim-direction-normal: normal;
	--anim-direction-alternate: alternate;
	--anim-fill-none: none;
	--anim-fill-forwards: forwards;
	--anim-fill-backwards: backwards;
	--anim-fill-both: both;

	--anim-iteration-infinite: infinite;

	--anim-duration-50: 50ms;
	--anim-duration-100: 100ms;
	--anim-duration-150: 150ms;
	--anim-duration-200: 200ms;
	--anim-duration-250: 250ms;
	--anim-duration-300: 300ms;
	--anim-duration-350: 350ms;
	--anim-duration-400: 400ms;
	--anim-duration-500: 500ms;
	--anim-duration-700: 700ms;
	--anim-duration-1000: 1000ms;
	--anim-duration-1500: 1500ms;
	--anim-duration-2000: 2000ms;
	--anim-duration-3000: 3000ms;
	--anim-duration-4000: 4000ms;
	--anim-duration-5000: 5000ms;

	--anim-delay-50: 50ms;
	--anim-delay-100: 100ms;
	--anim-delay-150: 150ms;
	--anim-delay-200: 200ms;
	--anim-delay-250: 250ms;
	--anim-delay-300: 300ms;
	--anim-delay-350: 350ms;
	--anim-delay-400: 400ms;
	--anim-delay-500: 500ms;
	--anim-delay-700: 700ms;
}
